:root {
  --primary-color: #102c57;
  --secondary-color: #DAC0A3;
  --third-color: #EADBC8;
  --fourth-color: #FEFAF6;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--fourth-color);
}

.wrapper {
  display: flex;
  flex-direction: row;
}
