.main {
    background-color: var(--third-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textHome {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-right: 2rem;
}

.link {
    border: 1px solid #000;
    border-radius: 0.25rem;
    width: 40%;
    height: 3rem;
    padding: 0.6rem;
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
}

.link:hover {
    font-weight: 900;
}

.textHome > div > h1 {
    font-size: 3rem;
    color: var(--primary-color);
}